* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #0166b3;
  --secondary-color: #f0f4ff;
  --tertiary-color: #e4e4e4;
}

body {
  font-family: "Figtree", sans-serif;
  display: grid;
  grid-template-areas:
    "menu menu"
    "categorías productos"
    "pie-pag pie-pag";
  height: 100vh;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 15% 1fr;
}

header {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  grid-area: menu;
  padding-bottom: 20px;
}

.header-top {
  background-color: rgb(204, 224, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 40px;
}

.header-top p {
  color: var(--primary-color);
  font-size: 0.9em;
}

menu a:hover {
  color: var(--primary-color);
  font-weight: 700;
  cursor: pointer;
}

header img {
  width: 10%;
}

h1 {
  color: black;
  font-weight: 500;
  font-size: 1.6em;
}

menu a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  margin-right: 30px;
}

aside {
  background-color: rgba(240, 244, 255, 0.381);
  grid-area: categorías;
  padding: 20px;
}

hr {
  margin: 10px auto;
  border: 1px solid #e4e4e4;
}

h3 {
  color: var(--primary-color);
}

aside li:hover {
  cursor: pointer;
  color: var(--primary-color);
  font-weight: 600;
}

li {
  list-style: none;
  margin: 10px 0;
  margin-left: 20px;
}

main {
  grid-area: productos;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 40px;
  width: 100%;
}

.card-producto {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: rgba(236, 236, 236, 0.547);
  gap: 20px;
}

.card-producto img {
  width: 100%;
}

h4 {
  color: black;
  font-weight: 300;
}

.card-producto p {
  color: black;
  font-weight: 800;
  font-size: 1.2em;
}

button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #035594;
}

footer {
  background-color: var(--primary-color);
  grid-area: pie-pag;
  padding: 20px;
  text-align: center;
  color: white;
  font-size: 0.9em;
}

@media (max-width: 768px) {
  body {
    grid-template-areas:
      "menu"
      "categorías"
      "productos"
      "pie-pag";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto auto;
  }

  menu a {
    margin-right: 15px;
    font-size: 0.9em;
  }

  header img {
    width: 20%;
  }

  aside {
    padding: 10px;
  }

  main {
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
  }
}
