* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #0166b3;
  --secondary-color: #f0f4ff;
  --tertiary-color: #e4e4e4;
}

body {
  font-family: "Figtree", sans-serif;
  display: grid;
  grid-template-areas:
    "menu menu"
    "categorías productos"
    "pie-pag pie-pag";
  height: 100vh;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 15% 1fr;
}

header {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  grid-area: menu;
  padding-bottom: 20px;
}

.header-top {
  background-color: rgb(204, 224, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 40px;
}

menu a:hover {
  color: var(--primary-color);
  font-weight: 700;
  cursor: pointer;
}

header img {
  width: 10%;
}

h1 {
  color: black;
  font-weight: 500;
  font-size: 1.6em;
}

menu a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  margin-right: 30px;
}

aside {
  background-color: rgba(240, 244, 255, 0.381);
  grid-area: categorías;
  padding: 20px;
}

hr {
  margin: 10px auto;
  border: 1px solid #e4e4e4;
}

h3 {
  color: var(--primary-color);
}

aside li:hover {
  cursor: pointer;
  color: var(--primary-color);
  font-weight: 600;
}

li {
  list-style: none;
  margin: 10px 0;
  margin-left: 20px;
}

main {
  background-color: rgb(255, 155, 208);
  grid-area: productos;
}

footer {
  background-color: rgb(149, 255, 177);
  grid-area: pie-pag;
}
